body {
    background-color: rgb(61, 61, 61);
}

h1 {
    text-align: center;
    font-size: 35pt;
    color: lightblue;
}

p {
    text-align: center;
    font-size: 16pt;
    color: white;
}

a {
    text-align: center;
    font-size: 16pt;
}

table {
    font-family: 'Montserrat';
    margin: auto;
    min-height: 98vh;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    margin: auto;
    text-align: center;
}

tr {
    width:60%;
}

